body {
  background-color: lightgray;
  color: blue;
  font-family: "Sofia", sans-serif;
}

h1 {
  background-color: black;
  color: red;
  text-align: center;
  text-decoration: overline;
  text-shadow: 2px 2px 5px white;
}

h2 {
  text-align: left;
  text-decoration: line-through;
  text-decoration-color: red;
}

h3 {
  text-align: right;
  text-decoration: underline;
  text-decoration-style: wavy;
}

div {
  background-color: blue;
  color: white;
  text-align: justify;
}

p.a {
  text-align-last: right;
  text-transform: uppercase;
  text-indent: 50px;
}

p.b {
  text-align-last: center;
  /* text-decoration: overline underline red double 5px; */
  text-transform: lowercase;
  letter-spacing: 10px;
}

p.c {
  text-align-last: justify;
  text-transform: capitalize;
  line-height: 1.8;
  word-spacing: 10px;
  white-space: nowrap;
}

a {
    text-decoration: none;
}
