body {
    background-color: lightgray;
    color: blue;
}

h1 {
    background-color: black;
    color: red;
    text-align: center;
}

h2 {
    text-align: left;
}

h3 {
    text-align: right;
}

div {
    background-color: blue;
    color: white;
    text-align: justify;
}

p.a {
    text-align-last: right;
  }
  
  p.b {
    text-align-last: center;
  }
  
  p.c {
    text-align-last: justify;
  }
